<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"  font-family='verdana'>
<table width="100%"cellpadding="10" cellspacing="0">
    <tr>
        <th valign="top" align="center">
            Su pago ha sido recibido correctamente. {{ pedido.articulo }}
        </th>
    </tr>

    <tr>
        <td  align="center">
            Puede seguir el estado de su pedido con el siguiente codigo {{ pedido.id }}
        </td>
    </tr>
</table>
</body>
</html>
