parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    email_contacto: "p3ter@troller.com"
    email_pedido: "p3ter@troller.com"
    email_app: "p3ter@troller.com"
    email_dev: "p3ter@troller.com"

    paypal_is_live: true
    paypal_email: "payopal@payopal.com"
    paypal_email_sandbox: "payopal@payopal.es"