parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: lolreferrals
    database_user: root
    database_password: null

    mailer_transport: gmail
    mailer_host: null
    mailer_user: masd985@gmail.com
    mailer_password: masd985

    locale: en
    secret: s3cr3t0pr0

    email_contacto: masd985@gmail.com
    email_pedido: masd985@gmail.com
    email_app: masd985@gmail.com
    email_dev: masd985@gmail.com

    paypal_api_username: masd985.mgdsoftware.es
    paypal_api_password: 1373216100
    paypal_api_signature: AgRXo3ohxZV2eBMxunVdm8QL1HVoAq2poslzWnrcbBIsWgOc5ZLVN1jY
    paypal_api_debug: true

    bots_updated_dir: C:\lol_dir_bots