{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block base %}
    {{ block('page') }}
{% endblock %}

{% block menu %}
    <div id="menu">
        {% include 'MGDAdminBundle::menu_admin.html.twig' %}
    </div>
{% endblock %}
