{% block body_init %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}


<div class="social">
    <a href="https://twitter.com/referralslol" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @referralslol</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="social" id="skype_element"></div>


<div class="fb-like social" data-width="200" data-colorscheme="light" data-href="https://www.facebook.com/referralslol" data-layout="standard" data-action="recommend" data-show-faces="false" data-share="true">

</div>



{% block javascripts %}

    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <script type="text/javascript">
        window.onload=function(){
            Skype.ui({
                "name": "chat",
                "element": "skype_element",
                "participants": ["referralslol"],
                "imageSize": 32,
                "imageColor" : "white"
            });
        };
    </script>

{% endblock %}