@import "normalize.min.css";
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contacto {
  padding-top: 20px;
}
#contacto textarea {
  width: 100%;
  height: 200px;
}
#contacto input.captcha {
  margin: 4px 0 4px 23px;
  width: 140px;
}
#contacto input[type="submit"] {
  clear: both;
  margin: 20px 0;
}
#contacto .text-right {
  text-align: right;
}
