#container-articulo {
  text-align: center;
}
#container-articulo .articulo {
  width: 42%;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #062b32;
  -webkit-box-shadow: 0 0 5px #062b32;
  -moz-box-shadow: 0 0 5px #062b32;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 10px;
  padding: 4px;
}
#container-articulo .articulo div {
  padding: 10px 0;
}
#container-articulo .articulo span {
  padding-left: 20px;
  font-weight: bold;
}
#container-articulo .articulo:hover {
  box-shadow: 0 0 5px #7DBEFF;
  -webkit-box-shadow: 0 0 5px #7DBEFF;
  -moz-box-shadow: 0 0 5px #7DBEFF;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
  background: #1ec7e6;
  width: 100%;
  font-size: 30px;
}
