@import "normalize.min.css";
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container-articulos {
  text-align: center;
}
#container-articulos .articulo {
  text-align: center;
  margin: 10px 0 50px;
  padding: 4px;
}
#container-articulos .articulo table {
  margin: 20px auto;
}
#container-articulos .articulo img {
  width: 100%;
}
@media only screen and (min-width: 560px) {
  #container-articulos .articulo img {
    width: auto;
  }
}
@media only screen and (min-width: 840px) {
  #container-articulos .articulo div.paypal {
    position: absolute;
    margin: 130px 0 0 550px;
  }
}
#container-articulos .articulo div.paypal div.precio {
  font-size: 42px;
  color: #ffce67;
  text-shadow: 1px 2px 2px #666;
  padding-bottom: 15px;
}
