@import "normalize.min.css";
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contenedor-articulos {
  clear: both;
}
#contenedor-articulos .articulo {
  display: inline-block;
  width: 230px;
  text-align: center;
  margin: 0 10px 20px 10px;
}
#contenedor-articulos div.precio {
  font-size: 42px;
  color: #eebf59;
  text-shadow: 1px 2px 2px #333;
  padding: 15px 0;
}
#contenedor-articulos table {
  margin: 0 auto;
}
#contenedor-articulos img {
  max-width: 230px;
}
#contenedor-articulos input[type="image"] {
  margin-top: 20px;
}
