@import "normalize.min.css";
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
time {
  padding: 10px 0;
  font-style: italic;
  font-size: 0.9em;
  display: block;
}
