#menu ul{
    float: left;
    width: 30%;
    padding-left: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
#menu{
    display: inline-block;
    width:100%;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}