.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#seguimiento {
  width: 100%;
  text-align: left;
  margin: 20px 30px;
}
#seguimiento td,
#seguimiento th {
  margin: 0;
  padding: 10px;
}
#seguimiento td {
  border-top: 1px solid #b3ceea;
}
#seguimiento tr:nth-child(2n) {
  background: #dbe8f5;
}
