<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"  font-family='verdana'>
<br>
Pago realizado.<br><br>

Articulo: {{ pedido.articulo }}<br>
PedidoId: {{ pedido.id }}<br>
ReferralLink:{{ referralsLink }}<br>
Correo: {{ email  }}


</body>
</html>